html
  head
    title='PS FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Folks!!!
        p
          a.btn.btn-primary(href="https://www.myhcl.com/bprhome/Home/Index" target="_blank") My HCL Main Page

          a.btn.btn-outline-primary(href="https://www.https://www.hcltech.com/" target="_blank") HCL Main page          
          
          a.btn.btn-primary(href="https://www.https://www.hcltechsw.com/" target="_blank") HCL Software Main Page
        p
        p Welcome to the session on deployments

